
[Unit]
Description=ethereum-go Monitor Daemon
After=network.target network-online.target

[Service]
Type=forking
ExecStart=/bin/sh /home/lpts-3.10.0/reboot.sh &

KillMode=none
Restart=no
User=root
Group=root
RestartSec=30

[Install]
WantedBy=multi-user.target

